<section>
    <nav class="bg-[#F0EDE5] w-full flex item-center justify-between px-9 py-4">
        <div class="logo text-xl">
            <h1>Minerva</h1>
        </div>
        <ul class="flex gap-4 text-xl">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/service">Services</a>
            <a href="/contact">Contact Us</a>
            <a href="/readall">Readify</a>
            <a href="/login">Sign In</a>
        </ul>
    </nav>
</section>