<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs") %>
<div class="">
  <section class="w-full">
    <div class=" container bg-[#E9E4E0] py-5 flex flex-col gap-4">
      <h1 class="font-bold">Welcome to Minerva</h1>
      <h1 class="text-4xl font-bold">We are an Awarded <br> Digital Agency</h1>
      <h1 class="font-bold">Minerva a non code creator compay</h1>
      <div class="flex flew-row gap-6">
        <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 bg-gradient-to-tr from-gray-900 to-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] rounded-full"
        type="button">
        <a href="/register">Start your journey</a>
      </button>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 bg-gradient-to-tr from-gray-900 to-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] rounded-full"
        type="button">
        <a href="/login">Start surfing</a>
      </button>
      </div>
  </div>
  </section>
</div>
<%- include("./partials/footer.ejs") %>